<h2 class="text-center"><span *ngIf="data.type === 'sellout'">卖出</span><span *ngIf="data.type === 'buying'">买入</span>评估</h2>
<mat-divider></mat-divider>
<div class="row col-12">
  <div class="row col-12 mt-2" *ngFor="let ruleBean of data.ruleResultList; let idx = index;">
    <div class="col-10">{{ruleBean.rulerDescription}}</div>
    <div class="col-2">
      <span style="color: green;" *ngIf="ruleBean.result === 'PASS'">通过</span>
      <span style="color: red;" *ngIf="ruleBean.result === 'NOT_PASS'">未通过</span>
    </div>
    <mat-divider *ngIf="idx !== data.ruleResultList.length - 1"></mat-divider>
  </div>
</div>
