<!--header navigation-->
<nav class="navbar navbar-expand-md tales-nav widewrapper">
  <div class="container">
    <div class="row col-xl-12">
      <a href="#" class="mt-2">
        <img class="navbar-brand" src="../favicon.ico">
      </a>
      <button class="navbar-toggler mb-xl-2" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
              aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav nav-pills mr-auto col-xl-7 col-sm-12 col-md-7">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="class">课程</a>
          </li>
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="special">专栏</a>
          </li>
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="question">问题</a>
          </li>

          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="article">文章</a>
          </li>
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="ranking">排行</a>
          </li>
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="download">下载</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 col-xl-5 col-sm-12 col-md-5" style="margin-left: -5px;">
          <input class="form-control col-sm-12 col-xl-8 col-md-9" type="text" name="keyword" placeholder="搜索内容" aria-label="Search">
          <button class="btn btn-outline-light my-2 my-sm-0 col-sm-12 mt-sm-2 mt-md-0 mt-lg-0 mt-xl-0 ml-xl-1 col-xl-2 col-md-3" type="button">搜索</button>
        </form>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>


