<h2 class="text-center mt-4">大盘指数</h2>

<mat-tab-group class="mt-4">
  <mat-tab label="分时线">
    <img class="mt-2" src="http://image.sinajs.cn/newchart/min/n/sh000001.gif">
  </mat-tab>
  <mat-tab label="日K线">
    <img class="mt-2" src="http://image.sinajs.cn/newchart/daily/n/sh000001.gif">
  </mat-tab>
  <mat-tab label="周K线">
    <img class="mt-2" src="http://image.sinajs.cn/newchart/weekly/n/sh000001.gif">
  </mat-tab>
  <mat-tab label="月K线">
    <img class="mt-2" src="http://image.sinajs.cn/newchart/monthly/n/sh000001.gif">
  </mat-tab>
</mat-tab-group>
