/* You can add global styles to this file, and also import other style files */

.tales-nav .nav-pills {
  margin-bottom: 0;
  font-size: 16px;
}
.tales-nav .nav-pills > li {
  margin-left: 10px;
}
.tales-nav .nav-pills > li > a {
  color: #e9e4da;
  padding: 11px 16px;
  line-height: 14px;
}
.tales-nav .nav-pills > li > a:hover,
.tales-nav .nav-pills > li > a:focus {
  color: #e9e4da;
  background-color: #f06448;
}
.tales-nav .nav-pills > li.dropdown.open.active > a:hover,
.tales-nav .nav-pills > li.dropdown.open.active > a:focus {
  background-color: #f06448;
}
.tales-nav .nav-pills .open .dropdown-toggle {
  background-color: #f06448;
}
.tales-nav .nav-pills > .active > a {
  background-color: #f06448;
}
.tales-nav .nav-pills > .active > a:hover,
.tales-nav .nav-pills > .active > a:focus {
  background-color: #f06448;
}

.primary-color {
  color: #e84423;
}

.tales-nav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.tales-nav .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 767px) {
  .tales-nav .nav-pills {
    margin-top: 10px;
  }
}

.widewrapper {
  background-color: #e84423;
  color: #e9e4da;
}

.widewrapper a {
  color: #e9e4da;
}
