<div class="container col-12">
  <div class="row">
    <div class="row col-12">
      <div>账户名： {{account.name}}</div>
      <div>资金： {{account.capital}}</div>
    </div>
    <div class="row col-12">
      <div>资产净值： {{account.totalAmount}}</div>
      <div>盈利： {{account.profit}}</div>
    </div>
  </div>
  <div class="row col-12">
    <mat-tab-group>
      <mat-tab label="持仓列表">
        <app-stock-list></app-stock-list>
      </mat-tab>
      <mat-tab label="持仓明细">
        <app-holding-list></app-holding-list>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
