<div class="container">
  <div class="row col-12">
    <mat-card class="col-12">
      <mat-card-content class="mt-3">
        <div class="row mb-2">
          <div class="col-md-4">
            <b class="font-size-lg">账户名：</b>
            <span class="primary-color"> {{account.name}}</span>
          </div>
          <div class="col-md-4">
            <b class="font-size-lg">转入资金：</b>
            <span class="primary-color"> {{account.capitalTransferIn}}</span>
          </div>
          <div class="col-md-4">
            <b class="font-size-lg">转出资金：</b>
            <span class="primary-color">{{account.capitalTransferOut}}</span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-4">
            <b class="font-size-lg">资金总额：</b>
            <span class="primary-color">{{account.capital}}</span>
          </div>
          <div class="col-md-4">
            <b class="font-size-lg">盈利：</b>
            <span class="primary-color">{{account.profit}}</span>
          </div>
          <div class="col-md-4">
            <b class="font-size-lg">资产净值：</b>
            <span class="primary-color">{{account.totalAmount}}</span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-4">
            <b class="font-size-lg">现金总额：</b>
            <span class="primary-color">{{account.capital}}</span>
          </div>
          <div class="col-md-4">
            <b class="font-size-lg">股票净值：</b>
            <span class="primary-color">{{account.profit}}</span>
          </div>
          <div class="col-md-4">
            <b class="font-size-lg">收益率：</b>
            <!--小数点后整数位数（默认1位）.小数点后最小位数-小数点后最大位数-->
            <span class="primary-color">{{account.profit / account.capital * 100 | number: '1.2-2'}}%</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row col-12">
    <mat-tab-group class="col-12">
      <mat-tab label="我的自选">
        <app-stock-list></app-stock-list>
      </mat-tab>
      <mat-tab label="持仓明细">
        <app-holding-list></app-holding-list>
      </mat-tab>
      <mat-tab label="清仓明细">
        <app-clearance-list></app-clearance-list>
      </mat-tab>
      <mat-tab label="投资列表">
        <app-invest-list></app-invest-list>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
